html {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

body {
  margin: 0 auto;
  background: linear-gradient(#e66465, #9198e5);
}

/* header styles */

h1 {
  font-size: 4rem;
  text-align: center;
  font-family: "Faster One", cursive;
}

h2 {
  font-family: "Permanent Marker", cursive;
  font-size: 30px;
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

section {
  display: flex;
  flex-wrap: wrap;
}

div {
  width: 20%;
  height: 450px;
  margin: 20px;
  padding: 10px;
  border: 1px solid;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: #fffff0;
}
